[submodule "Docs/Papers/SDGTradeoffs/paper"]
	path = Docs/Papers/SDGTradeoffs/SDGTradeoffs-paper
	url = git@github.com:JusteRaimbault/SDGTradeoffs-paper.git
[submodule "Docs/Papers/InnovationMultiscale/InnovationMultiscale-paper"]
	path = Docs/Papers/InnovationMultiscale/InnovationMultiscale-paper
	url = git@github.com:JusteRaimbault/InnovationMultiscale-paper.git
[submodule "Models/InnovationMultiscale/InnovationMultiscale-model"]
	path = Models/InnovationMultiscale/InnovationMultiscale-model
	url = git@github.com:JusteRaimbault/InnovationMultiscale-model.git
